* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}


body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

h1 {
  font-size: 0.75em;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  background: linear-gradient(to right, #fed0d0 0%, #7a80f2 50%, #b6f7f8 75%, #acc6d7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: hsla(225, 83%, 84%, 0.174);
  mix-blend-mode: difference;
  opacity: 1;
  text-align: center;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.wrapper {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 50%;
  box-shadow: -1rem -1rem 2rem #444, 1rem 1rem 2rem #444, inset 10rem 0 5rem #000, inset -1rem 0 2rem #c9c3c3;
}

.stage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #1234496c 0%, #263b4700 100%);
  border-radius: 0;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 1px;
  background: #fff;
}

.shooting-star {
  position: absolute;
  top: 0;
  left: -120px;
  width: 120px;
  height: 2px;
  background: url(../images/shooting-star.png) center center no-repeat;
  background-size: 100% 100%;
  transform: rotate(20deg);
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

@keyframes shooting-star {
  0% {
    transform: translate3d(0, 0, 0) rotate(20deg);
  }
  10%, 100% {
    transform: translate3d(1600px, 164px, 0) rotate(20deg);
  }
}

.earth {
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  animation: earthAnim 25s infinite linear;

}

.day {
  background-image: url(../images/earth-day.jpg);
}

.night {
  background-image: url(../images/earth-night.jpg);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%)
}

@keyframes earthAnim {

0% {
  background-position: 0 center;
}

100% {
  background-position: 192rem center;
}
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  @media screen and (min-width: 992px) {
    h1 {
      font-size: 2em;
    }
  }
}